{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="col-12 col-lg-3">
    <div class="right-column">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h6 class="card-title">Suggested for You<a href="#" class="ml-1"></a></h6>
                <div class="row no-gutters d-none d-lg-flex">
                    {% for user in users %}
                        {% if not user.is_superuser %}
                            <div id="user-container-{{ user.id }}" class="col-6 p-1">                                
                                <a href="#">
                                    <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="rounded-circle mb-4" width="80px" height="80px">
                                </a>
                            </div>
                            <div class="col-6 p-1 text-left">
                                <a href="{% url 'profile' user.username %}">
                                    <h6>{{ user.username }}</h6>
                                </a>
                                <button type="button" class="btn btn-outline-info btn-sm mb-3 message-button" data-user="{{ user.id }}">
                                    <i class="fas fa-envelope mr-1"></i> 
                                    Message
                                </button>
                                <div id="message-form-{{ user.id }}" class="message-form" style="display: none;">
                                    <form action="{% url 'send_message' user.id %}" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messageButtons = document.querySelectorAll('.message-button');
        messageButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                const userId = this.getAttribute('data-user');
                const messageForm = document.getElementById('message-form-' + userId);
                if (messageForm.style.display === 'none' || messageForm.style.display === '') {
                    messageForm.style.display = 'block';
                } else {
                    messageForm.style.display = 'none';
                }
            });
        });
    });
</script>

{% endblock %}
