{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <!---------------------------MOdal Section  satrts------------------->

    <div class="modal fade" id="modalview">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

            <div class="modal-content">


                <div class="modal-header">
                    <div class="modal-title h4">Messages</div>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-body">


                    <ul class="list-unstyled">


                     <a href="#" class="text-decoration-none">
                        <li class="media hover-media">
                           
                                <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                                <div class="media-body text-dark">
                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                                </div>

                        </li>
                    </a>
                    <hr class="my-3">


                    
                    <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>


                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>

                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
                            <hr class="my-3">
        
        
                            
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
        
        
                                <hr class="my-3">
        
        
                                <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>

                        
                                <hr class="my-3">
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
                                    <hr class="my-3">
                
                
                                    
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                
                
                                        <hr class="my-3">
                
                
                                        <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                    </ul>                   
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------MOdal Ends---------------------------->
    <!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->
    <div class="container">
        <div class="row">
            <!--------------------------left columns  start-->
            <div class="col-12 col-lg-3">
                <div class="left-column">
                    <div class="card card-left1 mb-4">
                        <img src="{% static 'img/photo-1455448972184-de647495d428.jpg' %}" alt="" class="card-img-top img-fluid">
                        <div class="card-body text-center">
                            <img src="{{ request.user.profile.image.url }}" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
                            <h5 class="card-title">{{ request.user.username }}</h5>
                            {% if request.user.profile.bio %}
                                <p class="card-text text-justify mb-2">{{ request.user.profile.bio }}</p>
                            {% else %}
                                <p class="card-text text-justify mb-2">No bio available.</p>
                            {% endif %}
                            {% if request.user.profile.pk %}
                            <h5 class="mb-3 card-title"><a href="{% url 'edit_profile' pk=request.user.profile.pk %}" class="ml-1">Edit</a></h5>
                        {% else %}
                        <h5 class="mb-3 card-title"><a href="{% url 'add_profile' %}" class="ml-1">Add</a></h5>                          
                        {% endif %}  
                        <ul class="list-unstyled nav justify-content-center">
                            <a href="#" class="text-dark text-decoration-none">
                                <li class="nav-item mb-3">Followers  <br> <strong>{{ request.user.followers.count }}</strong></li>
                            </a>
                            <a href="#" class="text-dark text-decoration-none">
                                <li class="nav-item">Following <br> <strong>{{ request.user.following.count }}</strong></li>
                            </a>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">
                            <h5 class="mb-3 card-title">About</h5>
                            {% if about_data %}
                                {% for about_instance in about_data %}
                                    <p class="card-text"><i class="fas fa-calendar-week mr-2"></i>{{ about_instance.went_to }}</p>
                                    <p class="card-text"><i class="far fa-building mr-2"></i>{{ about_instance.work_at }}</p>
                                    <p class="card-text"><i class="fas fa-home mr-2"></i>{{ about_instance.live_in }}</p>
                                    <p class="card-text"><i class="fas fa-map-marker mr-2"></i>{{ about_instance.from_where }}</p>
                                    <a href="{% url 'edit_about' pk=about_instance.pk %}" class="ml-1">Edit</a>
                                {% endfor %}
                            {% else %}
                                <p>No about information available.</p>
                                <a href="{% url 'aboutt' %}" class="ml-1">Add</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card shadow-sm card-left3 mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Photos<small class="ml-2"><a href="#"></a></small></h5>
                            <div class="row">
                                {% for post in user_post %}
                                <div class="col-6 p-1">
                                    <a href="{{ post.image.url }}" data-lightbox="id"><img src="{{ post.image.url }}" alt="img" class="img-fluid my-2"></a>
                                    <p><a href="{% url 'edit_post' pk=post.pk %}"><i class="far fa-edit"></i></a>
                                    <a href="{% url 'delete_post' pk=post.pk %}" class="text-danger"><i class="far fa-trash-alt"></i></a></p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        </div>
                </div>
            </div>
 <!--------------------------Ends Left columns-->
 <!---------------------------------------Middle columns  start----------------> 
 <style>
    /* Additional CSS styles */
    #appointment {
        padding: 50px 0;
    }
    #appointment-form {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    #cf-submit {
        background-color: #007bff; /* Blue button color */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    #cf-submit:hover {
        background-color: #0056b3; /* Darker blue color on hover */
    }
    .btn-cancel {
        background-color: #dc3545; /* Red button color */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .btn-cancel:hover {
        background-color: #c82333;
    }
    .btn-cancel a {
        color: #fff; /* White font color for the link inside the button */
        text-decoration: none; /* Remove default underline */
    }
    h2 {
        text-align: center;
    }
    .btn-update {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .btn-update:hover {
        background-color: #218838;
    }
</style>

<div class="col-12 col-lg-6">
    <div class="middle-column">
        <div class="card">
            <div class="card-header bg-transparent">
                <form id="appointment-form" role="form" method="post" action="{% url 'add_profile' %}" enctype="multipart/form-data">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                        <h2>Profile</h2>
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-6 col-sm-6">
                            {% csrf_token %}
                            {% if instance %}
                                <input type="hidden" name="instance" value="{{ instance.pk }}">
                            {% endif %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            {% if form.errors %}
                                <div class="alert-danger">{{ form.errors }}</div>
                            {% endif %}

                            {% if instance and instance.pk %}
                                <button type="submit" class="btn btn-update">Update</button>
                                <button type="button" class="btn btn-cancel" id="cancel-button"><a href="{% url 'index' %}">Cancel</a></button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>

<!------------------------Middle column Ends---------------->
<!---------------------------Statrs Right Columns----------------->              
<div class="col-12 col-lg-3">
    <div class="right-column">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h6 class="card-title">Suggested for You<a href="#" class="ml-1"></a></h6>
                <div class="row no-gutters d-none d-lg-flex">
                    {% for user in suggested_users %}
                        {% if user != request.user and not user.is_superuser %}
                        <div id="user-container-{{ user.id }}" class="col-6 p-1">                                
                            <a href="{% url 'profile' user.username %}">
                                <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="rounded-circle mb-4" width="80px" height="80px">
                            </a>
                        </div>
                        <div class="col-6 p-1 text-left">
                            <h6>{{ user.username }}</h6>
                            <form id="follow-form" action="{% url 'follow_user' user.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-info btn-sm mb-3">
                                    <i class="fas fa-user-friends"></i> Follow
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}