* {
    box-sizing: border-box;
  }

  body{
      background-color: #F5F8FA;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      font-weight: 300;
      line-height: 1.6;
      color: #212529;
      text-align: left;
  }
  
.banner{
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

}

.banner-title{
    transform: translateY(150px)
}
.banner-end{
    transform: translateY(280px)
}

.thumnail{
    width: 257px;
    height: 257px;
}

.hover-media:hover{
    background-color: #F5F8FA;
}


.grid-template{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(250px,auto);
    grid-gap: 10px;
}

.item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;

}
.item-7{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    

}

.item-9{
    grid-row: 3 / 5;
    

}


.item-10{
    grid-row: 3 / 5;
    

}

.item-11{
  grid-column: 3/5;
  grid-row: 3 / 5;
    
}
.item-12{
    grid-row: 3 / 5;
    

}
.nav-item {
    margin-right: 20px; 
}

.nav-item:last-child {
    margin-right: 0; 
}
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
  }


















